* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

@font-face {
  font-family: gamer;
  src: url(../fonts/abnes.otf); }

@font-face {
  font-family: g;
  src: url(../fonts/Azonix.otf); }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background: #171717;
  position: fixed;
  width: 100%;
  z-index: 100; }
  nav .nav_container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center; }
  nav .nav_logo {
    font-family: gamer;
    font-size: 2em;
    font-weight: 900;
    color: lime; }
  nav .nav_menu {
    font-family: g;
    display: grid;
    grid-auto-flow: column;
    gap: 3em; }
  nav .nav_menu a:hover {
    color: lime;
    text-decoration: none; }
  nav .nav_item {
    color: white;
    text-decoration: none;
    --clyppy:polygon(0 0, 0 0, 0 100%, 0% 100%); }
  nav .nav_item::after {
    content: "";
    display: block;
    background: lime;
    width: 100%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clyppy);
    transition: clip-path .3s; }
  nav .nav_item:hover {
    --clyppy: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  nav .nav_input:checked + .nav_menu {
    background: #171717; }
  nav .nav_label, nav .nav_input {
    display: none; }
  @media (max-width: 768px) {
    nav .nav_label {
      display: block;
      cursor: pointer; }
    nav .nav_menu {
      position: fixed;
      top: 80px;
      bottom: 0;
      background: lime;
      width: 100%;
      left: 0;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      text-align: center;
      clip-path: circle(0 at center); }
    nav .nav_input:checked + .nav_menu {
      clip-path: circle(100% at center); } }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: g;
  flex-direction: column;
  height: 160vh;
  background: url(https://www.wallpapertip.com/wmimgs/29-291851_img-4k-space-wallpaper-green.jpg) no-repeat center;
  background-size: cover; }
  main .title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff; }
  main p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px; }
  main .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid lime;
    color: #fff;
    text-decoration: none;
    background: lime; }
  main .btn:hover {
    background: none; }
  main .btn-home {
    display: flex; }
  main .btn-home a {
    margin: 0 10px; }
  main .content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  main .title {
    text-decoration: underline;
    text-decoration-color: lime; }
  main .pie {
    font-size: 20px;
    font-family: g;
    height: 100px;
    background-color: #171717; }
  main .pie h2 {
    color: white;
    text-align: center;
    padding: 10px; }
  main .jogos {
    border-radius: 20px;
    padding-top: 10px;
    height: 950px;
    width: 1300px;
    padding-bottom: 20px;
    opacity: 90%; }
  main .descargas {
    margin-top: 10px;
    background-color: #171717;
    display: inline-flex;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: g;
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
    border-radius: 10px; }
  main .descargas p {
    text-decoration: underline 3px;
    text-decoration-color: lime; }
  main .boton {
    margin-right: 40px;
    text-align: end;
    text-decoration: none;
    color: white; }
  main .boton:hover {
    color: lime; }
  main .juego {
    border-radius: 10px; }
  main .cuerpo {
    height: 160vh;
    background: url(https://www.wallpapertip.com/wmimgs/29-291851_img-4k-space-wallpaper-green.jpg) no-repeat center;
    background-size: cover; }
  main .flyer h2 {
    font-family: g;
    color: white;
    text-decoration: underline;
    text-decoration-color: lime;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    text-align: center; }
  main .flyer p {
    font-family: g;
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center; }
  main .video {
    top: 30px;
    position: relative;
    left: 30%;
    border-radius: 20px; }
  main .titulo {
    font-family: g;
    color: white;
    text-decoration: underline;
    text-decoration-color: lime;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    text-align: center; }
  main .carusel {
    padding-top: 30px; }
